{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}
{% block content_title %}<h1>GO Wise Report</h1>{% endblock %}
{% block extrastyle %}
  {{ block.super }}
  {% load  static %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
       {% block object-tools %}
<ul class="object-tools">
  {% block object-tools-items %}
    <li><input type="button" id="btnExport2" value="Export as Excel" onclick="ExportToExcel('xlsx')"/></li>
    <li><input type="button" id="btnExport" value="Export As Pdf" onclick="createPDF()"/></li>
  {% endblock %}
</ul>
{% endblock %}
  <style>
    .object-tools a.addlink{
        display: none;
    }

   .btn-export{
        display: flex;
        margin-left:530px;
    }
    #btnExport2{
        float: right !important;
        height: 45px;
    }
    #btnExport{
        float: right !important;
        height: 45px;
        margin-left: 5px;

    }
    .report-pdf{
      display: inline-flex;
    }
    .report-h4{
        text-align: center;
        color:#666;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

  </style>
  <style>
    @media (max-width: 767px){
      .object-tools{
          display: none;
      }
  }
  </style>
{% endblock %}

{% block result_list %}
<div class="export-btn">
  <ul class="d-flex">
    <li><input type="button" id="btnExport2" value="Export as Excel" onclick="ExportToExcel('xlsx')"/></li>
    <li><input type="button" id="btnExport" value="Export As Pdf" onclick="createPDF()"/></li>
  </ul>
</div>
  <div class="results" id="results">
      {% regroup heading by Sector as Sector_list %}
  {% regroup heading by AgencyType__AgencyType as Agency_list %}
  {% regroup heading by GoMeeting as GO_List %}
  {% regroup heading by Scheme__Scheme as Scheme_List %}

    <table>
    {% for t in heading %}
    {% if forloop.counter > 1  %}

    {% elif forloop.counter == 1 and t.AgencyType__AgencyType == "Town Panchayat" and t.Scheme__Scheme == 'KNMT'%}
      <caption  class="report-h4" id="heading">
        {% ifchanged t.Scheme__Scheme %}
          {% if Scheme_List|length > 1 %}
            All Schemes -
            {% else %}
            Kalaignar Nagarpura Mempattu Thittam (KNMT) -
          {% endif %}
        {% endifchanged %}


        {% ifchanged t.AgencyType__AgencyType %}
          {% if Agency_list|length > 1 %} COMMISSIONERATE of Town Panchayats and
            Directorate of Municipalities -
          {% else %}
            COMMISSIONERATE of Town Panchayats -
          {% endif %}
        {% endifchanged %}

        {% ifchanged t.GoMeeting %}
          {% if GO_List|length > 1 %}
            ALl GOS
          {% else %}
            {{ t.GoMeeting }} GO
          {% endif %}
        {% endifchanged %}
      </caption>
      {% elif forloop.counter == 1 and t.AgencyType__AgencyType == "Corporation" and t.Scheme__Scheme == 'Singara Chennai 2.0'%}
      <caption  class="report-h4" id="heading">
        {% ifchanged t.Scheme__Scheme %}
          {% if Scheme_List|length > 1 %}
            All Schemes -
            {% else %}
             Singara Chennai 2.0 - 
          {% endif %}
        {% endifchanged %}


        {% ifchanged t.AgencyType__AgencyType %}
          {% if Agency_list|length > 1 %} COMMISSIONERATE of Town Panchayats and
            Directorate of Municipalities -
          {% else %}
          Directorate of Municipalities -
          {% endif %}
        {% endifchanged %}

        {% ifchanged t.GoMeeting %}
          {% if GO_List|length > 1 %}
            ALl GOS
          {% else %}
            {{ t.GoMeeting }} GO
          {% endif %}
        {% endifchanged %}
      </caption>
    {% elif forloop.counter == 1 and t.AgencyType__AgencyType == "Municipality" and t.Scheme__Scheme == 'KNMT'%}
      <caption  class="report-h4" id="heading">
        {% ifchanged t.Scheme__Scheme %}
          {% if Scheme_List|length > 1 %}
            All Schemes -
            {% else %}
            Kalaignar Nagarpura Mempattu Thittam (KNMT) -
          {% endif %}
        {% endifchanged %}

        {% ifchanged t.AgencyType__AgencyType %}
          {% if Agency_list|length > 1 %} COMMISSIONERATE of Town Panchayats and
            Directorate of Municipalities -
          {% else %}
            Directorate of Municipalities -
          {% endif %}
        {% endifchanged %}

        {% ifchanged t.GoMeeting %}
          {% if GO_List|length > 1 %}
            ALl GOS
          {% else %}
            GO No. {{ t.GoMeeting }}
          {% endif %}
        {% endifchanged %}
      </caption>
    {% endif %}
  {% endfor %}
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">S. No</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Sector</a>
          </div>
        </th>
        <th style="text-align: right">
          <div class="text">
            <a href="#">No of ULBs</a>
          </div>
        </th>
        <th style="text-align: right">
          <div class="text">
            <a href="#">No of works</a>
          </div>
        </th>
        <th style="text-align: right">
          <div class="text">
            <a href="#">Approved Project Cost</a>
          </div>
        </th>
        <th style="text-align: right">
          <div class="text">
            {% for t in heading %}
              {% if forloop.first and t.Scheme__Scheme == 'KNMT' %}
                  <a href="#"> KNMT<br>Share</a>
              {% endif %}
            {% endfor %}
            {% for t in heading %}
              {% if forloop.first and t.Scheme__Scheme == 'Singara Chennai 2.0' %}
                  <a href="#"> Singara<br>Chennai 2.0<br>Share</a>
              {% endif %}
            {% endfor %}
          </div>
        </th>
        <th style="text-align: right">
          <div class="text">
            <a href="#">ULB Share</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in report %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ forloop.counter }} </td>
        <td> {{ row.Sector }} </td>
        <td style="text-align: right"> {{ row.AgencyName}} </td>
        <td style="text-align: right"> {{ row.NoM }} </td>
        <td style="text-align: right">&#8377; {{ row.ApprovedProjectCost }} </td>
        <td style="text-align: right">&#8377; {{ row.SchemeShare }} </td>
        <td style="text-align: right">&#8377; {{ row.ULBShare }} </td>
      </tr>
      {% endfor %}
    </tbody>
    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">

      <td style="text-align: right"> Total </td>
      <td></td>
      <td style="text-align: right"> {{ report_total.AgencyName }} </td>
      <td style="text-align: right"> {{ report_total.NoM }} </td>
      <td style="text-align: right">&#8377; {{ report_total.ApprovedProjectCost }} </td>
      <td style="text-align: right">&#8377; {{ report_total.SchemeShare }} </td>
      <td style="text-align: right">&#8377; {{ report_total.ULBShare }} </td>
    </tr>
  </table>
</div>
<!-- ... -->
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">
        function createPDF() {
        var sTable = document.getElementById('results').innerHTML;

        var style = "<style>";
        style = style + ".report-h4 {text-align:center; text-transform: uppercase; display:none;}";
        style = style + "title {text-align:center; text-transform: uppercase; font-weight:bold; font-size:large;}";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + ".text a{text-decoration: none; color:black}"
        style = style + "</style>";

        var win = window.open('', '', 'height=700,width=700');
        win.document.write('<html><head>');
        win.document.write(style);
        win.document.write('<title>'+$(".report-h4").html().toUpperCase()+'</title>');
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);
        win.document.write('</body></html>');
        win.document.close();
        win.print();
    }
    </script>
     <script>
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('results');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('GOReport.' + (type || 'xlsx')));
        }
    </script>
{% endblock %}

{% block pagination %}{% endblock  %}
