{%for row in CTPsector_progress%}
<tr class="border-grey {% cycle 'row1' 'row2'%}">
   <td class="border-grey" style="text-align:center">{{ forloop.counter }}</td>
    <td class="border-grey" style="text-align:center">{{ row.Sector }}</td>
   <td class="border-grey" style="text-align:right">{{ row.approved_project_count }}</td>
   <td class="border-grey" style="text-align:right">&#8377; {{ row.approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align: right;">&#8377; {{ row.awarded_cost.project_cost }}</td>
   <td class="border-grey" style="text-align:right">{{ row.completed_count }}</td>
   <td class="border-grey" style="text-align:right">&#8377; {{ row.completed_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTP{{row.Sector|cut:" "}}">{{ row.inprogress_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ row.inprogress_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTP{{row.Sector|cut:" "}}1">{{ row.tobecommenced_count }}</a></td>
   <td class="border-grey" style="text-align:right">&#8377; {{ row.tobecommenced_project_cost.project_cost }}</td>
</tr>
{% endfor%}