<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="en">
    <meta name="title" content="TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION LTD, Government of Tamil Nadu Undertaking">
    <meta name="description" content="Tamil Nadu Urban Finance and Infrastructure Development Corporation Ltd (TUFIDCO) was incorporated under the Companies Act, 1956 on 21-03-1990. The main objective of the corporation is providing financial assistance and guidance to Local Bodies, Corporations, Boards, Authorities and parastatal agencies for their development schemes.">
    <meta name="keyword" content="TUFIDCO, TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION LTD, Recent, download">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap5.1.3/dist/css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MapBox -->
    <script src='{% static 'vendors/mapbox-gl-js/v0.47.0/mapbox-gl.js' %}'></script>
    <link rel="stylesheet" href='{% static 'vendors/mapbox-gl-js/v0.47.0/mapbox-gl.css' %}'/>
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo_trans.ico'%}">
    {% block extrastyle %}{% endblock %}
  </head>
    <!-- End Head -->
    <!-- Start Body -->
    <body>
      {% block content %}
      {% endblock %}
      {% load static %}
      <script src="{% static 'vendors/bootstrap5.1.3/dist/js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'vendors/jquery-3.4.1/jquery-3.4.1.slim.js' %}"></script>
      <script src="{% static 'vendors/popper-1.16.0/dist/umd/popper.min.js' %}"></script>
      <!-- Bootstrap JS-->
      <script src="{% static 'vendors/bootstrap/4.4.1/js/bootstrap.min.js' %}"></script>
      <!-- Custom JS-->
      {% load static %}
        <script src="{% static 'js/plugins.js' %}"></script>
        <script>
          var dt = new Date();
          var dt2 = new Date();
          document.getElementById("date").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear());
          document.getElementById('time').innerHTML = (("0"+dt2.getHours()).slice(-2)) +":"+ (("0"+dt2.getMinutes()).slice(-2));
        </script>
      {% block js-foot %}{% endblock %}
    </body>
    <!-- End Body -->
</html>